modules = ["java-graalvm22.3", "web"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn compile exec:java -Dexec.mainClass=\"com.racecarparts.Main\""
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37951
externalPort = 3002

[[ports]]
localPort = 38223
externalPort = 3000

[[ports]]
localPort = 41817
externalPort = 3001

[nix]
channel = "stable-25_05"
